POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=smart_parking_lot
POSTGRES_PORT=5432

PORT=3000
SNAPSHOT_INTERVAL_MS=60000
STUCK_THRESHOLD_MINUTES=180
FLAPPING_WINDOW_MINUTES=10
FLAPPING_TRANSITIONS_THRESHOLD=6

MQTT_PORT=1883
MQTT_WS_PORT=9001

SIMULATOR_PORT=4000
SIM_TIME_SCALE_MS=1000
SIMULATOR_CONTROL_URL=http://localhost:4000
SIM_AUTO_FAULTS=true
SIM_MAX_AUTO_FAULTS=4
SIM_FAULT_CHANCE=0.035
# Exemplo: A-07:flapping:15,B-10:stuck_occupied:240
SIM_FAULTS=
